# Core dependencies
streamlit
pandas
numpy
python-dotenv

# Visualization libraries
plotly
seaborn
matplotlib
openpyxl

# LangChain + Google generative
langchain
langchain-google-genai
langchain-core
google-generativeai


# pydantic<2
